<div>$t('test.userTitle')</div>
<br>
<%_if(options.userName){%><div>$t('test.userName'):<%=options.userName%></div><%}_%>
<%_if(options.userAge){%><div>$t('test.userAge'):<%=options.userAge%></div><%}_%>
<br>
<br>
<div><a href="<%=options.url%>"><%=options.url%></a></div>
